@import "twbs/bootstrap-reboot";
@import "twbs/_utilities";
@import "twbs/bootstrap-grid";
@import "twbs/_type";
@import "twbs/_variables";
@import "twbs/_images";
@import "twbs/_transitions";
@import "twbs/_buttons";

@import "mix/mix";
@import "twbs/vendor/_rfs";


body {
	* {
		outline: none !important;
	}

	img.lozad {
		transition: opacity 1s;
		opacity: 0;

		&.loaded {
			opacity: 1;
		}
	}
}